<a href="https://colab.research.google.com/github/blu-geek/Demo/blob/main/Mlops_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### This is a Training by DataTalksLab o Machine Learning Operations. For the entire End-To-End Production and Deployment , we will be using the New York Yello Taxi Dataset Data. This will be my maiden deployment.  ###

In [147]:
import pandas as pd

In [148]:
#!pip install pyarrow

In [149]:
!pip install fastparquet # To read the files , we will need to install the fastparquet or pyarrow library

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fastparquet in /usr/local/lib/python3.10/dist-packages (2023.4.0)
Requirement already satisfied: pandas>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from fastparquet) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.10/dist-packages (from fastparquet) (1.22.4)
Requirement already satisfied: cramjam>=2.3 in /usr/local/lib/python3.10/dist-packages (from fastparquet) (2.6.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from fastparquet) (2023.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5.0->fastparquet) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)

In [150]:
import fastparquet as ParquetFile # The dataset is stored in parquet files and as such will need to be converted to Csv fo analysis"
import glob

In [151]:
jan_df=pd.read_parquet("yellow_tripdata_2022-01.parquet")
feb_df=pd.read_parquet("yellow_tripdata_2022-02.parquet")
jan_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

# New Section

In [152]:
#prqtfiles=glob.glob("/home/hduser/Downloads/yellow_tripdata_2022-02.parquet" + "/*.parquet")
#for p in prqtfiles:
    #pr=ParquetFile(p,sep="\t")
    #df=pr.to_pandas()
#df.to_csv(p[:-8] + ".csv",index=False)
#df.head()

In [153]:
jan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [154]:
feb_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25

In [155]:
feb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979431 entries, 0 to 2979430
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 431.9+ MB

In [156]:
print(jan_df.columns)
print("")
print(feb_df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

### Shape of the Data ###

In [157]:
print(jan_df.shape)
print("")
print(feb_df.shape)

(2463931, 19)

(2979431, 19)

In [158]:
jan_df.isnull().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          71503
trip_distance                0
RatecodeID               71503
store_and_fwd_flag       71503
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     71503
airport_fee              71503
dtype: int64

In [159]:
jan_df['store_and_fwd_flag'].unique()
print('')
jan_df['store_and_fwd_flag'].value_counts()

N    2337496
Y      54932
Name: store_and_fwd_flag, dtype: int64

In [160]:
#Handling the missing values in the numerical columns by replacing them with the mean
missing_cols= ['passenger_count','RatecodeID','congestion_surcharge','airport_fee']
missing_cols

['passenger_count', 'RatecodeID', 'congestion_surcharge', 'airport_fee']

In [161]:
for col in missing_cols:
    mean_value = jan_df[col].mean()
    jan_df[col].fillna(mean_value,inplace=True)

In [162]:
modal_val=jan_df['store_and_fwd_flag'].mode()[0]
jan_df['store_and_fwd_flag'].fillna(modal_val,inplace=True)

In [163]:
jan_df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
airport_fee              0
dtype: int64

In [164]:
print(jan_df.describe().T)
print("")
print(feb_df.describe().T)

                           count        mean         std     min     25%  \
VendorID               2463931.0    1.707819    0.502137    1.00    1.00
passenger_count        2463931.0    1.389453    0.968601    0.00    1.00
trip_distance          2463931.0    5.372751  547.871404    0.00    1.04
RatecodeID             2463931.0    1.415507    5.831077    1.00    1.00
PULocationID           2463931.0  166.076809   65.468057    1.00  132.00
DOLocationID           2463931.0  163.580716   70.790159    1.00  113.00
payment_type           2463931.0    1.194449    0.500178    0.00    1.00
fare_amount            2463931.0   12.946484  255.814887 -480.00    6.50
extra                  2463931.0    1.006710    1.236226   -4.50    0.00
mta_tax                2463931.0    0.491454    0.082916   -0.50    0.50
tip_amount             2463931.0    2.385696    2.830698 -125.22    0.72
tolls_amount           2463931.0    0.374977    1.680538  -31.40    0.00
improvement_surcharge  2463931.0    0.296723    0.043747   -0.30    0.30
total_amount           2463931.0   19.169370  255.964089 -480.30   11.30
congestion_surcharge   2463931.0    2.282322    0.732341   -2.50    2.50
airport_fee            2463931.0    0.082499    0.307987   -1.25    0.00

                          50%         75%        max
VendorID                 2.00    2.000000       6.00
passenger_count          1.00    1.389453       9.00
trip_distance            1.74    3.130000  306159.28
RatecodeID               1.00    1.000000      99.00
PULocationID           162.00  234.000000     265.00
DOLocationID           162.00  236.000000     265.00
payment_type             1.00    1.000000       5.00
fare_amount              9.00   14.000000  401092.32
extra                    0.50    2.500000      33.50
mta_tax                  0.50    0.500000      16.59
tip_amount               2.00    3.000000     888.88
tolls_amount             0.00    0.000000     193.30
improvement_surcharge    0.30    0.300000       0.30
total_amount            14.69   20.020000  401095.62
congestion_surcharge     2.50    2.500000       2.50
airport_fee              0.00    0.000000       1.25

                           count        mean         std     min     25%  \
VendorID               2979431.0    1.710175    0.501401    1.00    1.00
passenger_count        2877693.0    1.392135    0.984123    0.00    1.00
trip_distance          2979431.0    5.852134  642.530368    0.00    1.08
RatecodeID             2877693.0    1.423419    6.017545    1.00    1.00
PULocationID           2979431.0  165.531488   65.609659    1.00  132.00
DOLocationID           2979431.0  163.434221   70.420229    1.00  113.00
payment_type           2979431.0    1.173644    0.495248    0.00    1.00
fare_amount            2979431.0   13.126442   12.046193 -600.00    6.50
extra                  2979431.0    1.017306    1.234659   -4.50    0.00
mta_tax                2979431.0    0.491732    0.081491   -0.50    0.50
tip_amount             2979431.0    2.500827    2.788297 -188.00    1.00
tolls_amount           2979431.0    0.382981    1.671188  -29.05    0.00
improvement_surcharge  2979431.0    0.296751    0.043630   -0.30    0.30
total_amount           2979431.0   19.497754   14.945992 -600.30   11.76
congestion_surcharge   2877693.0    2.305946    0.709771   -2.50    2.50
airport_fee            2877693.0    0.073641    0.296370   -1.25    0.00

                          50%     75%        max
VendorID                 2.00    2.00       6.00
passenger_count          1.00    1.00       9.00
trip_distance            1.79    3.20  348798.53
RatecodeID               1.00    1.00      99.00
PULocationID           162.00  234.00     265.00
DOLocationID           162.00  234.00     265.00
payment_type             1.00    1.00       5.00
fare_amount              9.50   14.50     655.35
extra                    0.50    2.50      10.30
mta_tax                  0.50    0.50       3.30
tip_amount               2.06    3.15     380.80
tolls_amount             0.00    0.00      95.00
improvement_surcharge    0.30    0.30       0.30
total_amount            15.30   20.80     656.15
congestion_surcharge     2.50    2.50       2.75
airport_fee              0.00    0.00       1.25

In [165]:
# Let us convert the Datasets to Csv files
#jan_df.to_csv('jan_df.csv',index=False)
#feb_df.to_csv('feb_df.csv',index=False)

In [166]:
#jan_df = jan_df.drop(jan_df([jan_df['Duration'] < 0].index, inplace=True))

In [167]:
jan_df.shape

(2463931, 19)

### Duration and Standard Deviation ###

In [168]:
#To compute a duration for the trip for both months
jan_df['Duration']=jan_df['tpep_dropoff_datetime'] - jan_df['tpep_pickup_datetime']
#feb_df['Duration']=feb_df['tpep_dropoff_datetime'].dt.minute - feb_df['tpep_pickup_datetime'].dt.minute
jan_df['Duration'].dt.total_seconds()/60
print(jan_df.Duration.head())
#print("")
#print(feb_df.Duration.head())

0   0 days 00:17:49
1   0 days 00:08:24
2   0 days 00:08:58
3   0 days 00:10:02
4   0 days 00:37:32
Name: Duration, dtype: timedelta64[ns]

In [169]:
#jan_df = jan_df[jan_df['Duration'] >= 0].dropna(how='any')

In [170]:
# Calculating the Standard Deviation
print(jan_df['Duration'].std())
print(jan_df['Duration'].mean())

0 days 00:46:26.718308266
0 days 00:14:12.732175129

In [171]:
jan_ndf=jan_df.copy()

In [172]:
# Visualization of the Outliers for the Duration feature
#import seaborn as sns
#sns.lineplot(data=jan_df, x='Duration',y='trip_distance')

In [173]:
# Visualization of the Outliers for the Duration feature
#import seaborn as sns
#sns.boxplot(data=jan_df['Duration'])
#print("")
#sns.histplot(data=jan_df['Duration'])

### Dropping Outliers ###

In [174]:
# To remove the outliers below 1 minute and above 60 minutes
mask = (jan_ndf['Duration'] >= pd.Timedelta('1 minute')) & (jan_ndf['Duration'] <= pd.Timedelta('60 minutes'))
jan_ndf=jan_ndf[mask]

In [175]:
jan_ndf.shape

(2421440, 20)

In [176]:
# The percentage of the dataset left after removing outliers in the dataset with duration less than 1 minute and less than 60minsless th
perc = len(jan_ndf)/len(jan_df)
perc

0.9827547930522406

**FEATURE ENGINEERING**

In [177]:
#first we convert the features to datetime format
#jan_ndf['tpep_pickup_datetime']=pd.to_datetime(jan_ndf['tpep_pickup_datetime'])
#jan_ndf['tpep_dropoff_datetime']=pd.to_datetime(jan_ndf['tpep_dropoff_datetime'])


jan_ndf['Duration']=jan_ndf['Duration'].dt.total_seconds()/60

# We then extract relevant components and turn them to features like year,month,day,hour,minute and day)
#jan_ndf['dropoff_yr']=jan_ndf['tpep_dropoff_datetime'].dt.year
#jan_ndf['dropoff_mth']=jan_ndf['tpep_dropoff_datetime'].dt.month
#jan_ndf['dropoff_day']=jan_ndf['tpep_dropoff_datetime'].dt.day
#jan_ndf['dropoff_hour']=jan_ndf['tpep_dropoff_datetime'].dt.hour
#jan_ndf['dropoff_min']=jan_ndf['tpep_dropoff_datetime'].dt.minute

# We then extract relevant components and turn them to features like year,month,day,hour,minute and day)
#jan_ndf['pickup_yr']=jan_ndf['tpep_pickup_datetime'].dt.year
#jan_ndf['pickup_mth']=jan_ndf['tpep_pickup_datetime'].dt.month
#jan_ndf['pickup_day']=jan_ndf['tpep_pickup_datetime'].dt.day
#jan_ndf['pickup_hour']=jan_ndf['tpep_pickup_datetime'].dt.hour
#jan_ndf['pickup_min']=jan_ndf['tpep_pickup_datetime'].dt.minute



# Using the sklearn's get_dummies we then apply a one_hot encoding to the new features

#df_encoded=pd.get_dummies (jan_ndf, columns=['dropoff_yr','dropoff_mth','dropoff_day','dropoff_hour','dropoff_min','pickup_yr',
#'pickup_mth','pickup_day','pickup_hour','pickup_min'])

In [178]:
jan_ndf['Duration'].head()

0    17.816667
1     8.400000
2     8.966667
3    10.033333
4    37.533333
Name: Duration, dtype: float64

In [179]:
#jan_ndf.drop(['tpep_pickup_datetime','tpep_dropoff_datetime'],axis=1,inplace=True)

In [180]:
select_cols= ['PULocationID','DOLocationID']
select_cols

['PULocationID', 'DOLocationID']

In [181]:
jan_ndf[select_cols]=jan_ndf[select_cols].astype(str)

In [182]:
jan_ndf[select_cols].head()

  PULocationID DOLocationID
0          142          236
1          236           42
2          166          166
3          114           68
4           68          163

### Dimensionality Matrix ###

In [ ]:
from sklearn.feature_extraction import DictVectorizer

#To convert dataframe into a list of dictionaries
df_list = jan_ndf[select_cols].to_dict(orient='records')

# Initialize Dictionary Vectorizer
vectorizer=DictVectorizer(sparse=False)

#fit the vectorizer on the data_lists to obtain the feature matrix
feature_matrix = vectorizer.fit_transform(df_list)

# To obtain the dimensionality of the feature matix
num_features=feature_matrix.shape[1]

print("Dimensionality of the Feature Matrix:", num_features)

**Model**

In [ ]:
X= jan_ndf[select_cols]
y= jan_ndf['Duration']

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2,random_state=42)

LR=LinearRegression()
LR.fit(X_train,y_train)

In [ ]:
y_pred=LR.predict(X_test)

In [ ]:
print(y_pred.dtype)
print(y_test.dtype)

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
mae=mean_absolute_error(y_test,y_pred)
mae

In [ ]:
r2=r2_score(y_test,y_pred)
r2

In [ ]:
mse=mean_squared_error(y_test,y_pred)
mse

In [ ]:
import numpy as np
rmse= np.sqrt(mse)
rmse